[api]
listen = 127.0.0.1
port = 5556
requireInvite = false
expiry = 3600
timeout = 10
interval = 300
loglevel = 1

[api.mysql]
hostname = localhost
port = 3306
username = cmangos-api
password = cmangos-api
database = cmangos-api

[realmd]
hostname = logon.example.org
port = 3724

[realmd.mysql]
hostname = localhost
port = 3306
username = cmangos
password = cmangos
database = cmangosrealmd

[mangosd]
realms = classic,tbc

[mangosd.classic]
id = 1

[mangosd.classic.character.mysql]
hostname = localhost
port = 3306
username = cmangos
password = cmangos
database = classicchars

[mangosd.classic.world.mysql]
hostname = localhost
port = 3306
username = cmangos
password = cmangos
database = classicworld

[mangosd.tbc]
id = 2

[mangosd.tbc.character.mysql]
hostname = localhost
port = 3306
username = cmangos
password = cmangos
database = tbcchars

[mangosd.tbc.world.mysql]
hostname = localhost
port = 3306
username = cmangos
password = cmangos
database = tbcworld
