[server]
listen = 127.0.0.1
port = 5556

[account]
needInvite = false

[apidb]
username = cmangos-api
password = cmangos-api
hostname = localhost
port = 3306
database = cmangos-api

[realmddb]
username = cmangos
password = cmangos
hostname = localhost
port = 3306
database = cmangosrealmd

[cmangos]
realmd = logon.example.org
port = 3724
